# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
coverage.json
*.lcov
# dotenv environment variable files
.env
.env.*

# Mac system files
.DS_Store
CLAUDE.md
